name: Build and publish a Docker images

'on':
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
        - '**.md'
  workflow_dispatch:

jobs:
    build_and_publish:
        name: Build and Publish
        runs-on: ubuntu-latest
        strategy:
            # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
            fail-fast: false

            matrix:
                image:
                    # - centos7-cpp       # GitHub Actions runners do not support CentOS 7 anymore
                    - rockylinux8-cpp
                    - rockylinux9-cpp
                    - ubuntu20.04-cpp
                    - ubuntu22.04-cpp
                    - ubuntu24.04-cpp

        steps:
            - uses: actions/checkout@v4

            - name: Build image
              run: docker build -t ghcr.io/${{github.repository_owner}}/${{matrix.image}}:latest ${{matrix.image}}

            - name: Test image
              run: docker run ghcr.io/${{github.repository_owner}}/${{matrix.image}}:latest gcc --version

            # If on master branch, build and publish images
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              if: ${{ github.ref == 'refs/heads/master' }}
              with:
                registry: ghcr.io
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}

            - name: Publish image
              if: ${{ github.ref == 'refs/heads/master' }}
              run: docker push ghcr.io/${{github.repository_owner}}/${{matrix.image}}:latest
