name: Build and publish a Docker images

# Configures this workflow to run every time a change is pushed to the branch called `release`.
'on':
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
        - '**.md'
  workflow_dispatch:

# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io/miarecdev

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      matrix:
        image:
          - centos7-cpp
          - rockylinux8-cpp
          - rockylinux9-cpp

    steps:
        - uses: actions/checkout@v4

        - name: Test building image.
          run: docker build -t ${{ env.REGISTRY }}/${{ matrix.image }}:latest ${{ matrix.image }}/.

        - name: Run the built image.
          run: docker run --name instance ${{ env.REGISTRY }}/${{ matrix.image }}:latest

        - name: Verify if gcc is available in the container
          run: docker exec instance gcc --version


